.soc-icon.fb {
	background: url(img/facebook-icon.png) no-repeat center 0;
}
.soc-icon.ln {
	background: url(img/linkedin-icon.png) no-repeat center 0;
}
.soc-icon:hover {
	-moz-transform: scale(1) rotate(360deg);
	-webkit-transform: scale(1) rotate(360deg);
	-o-transform: scale(1) rotate(360deg);
	-ms-transform: scale(1) rotate(360deg);
	transform: scale(1) rotate(360deg);